.main {
  background-color: white;

  button:global(.active) {
    background-color: green;
  }

  table {
    border-collapse: collapse;
    min-width: 100%;
  }
  th,
  td {
    padding: 10px;
    text-align: left;
    border: 1px solid #cccccc;
    font-weight: normal;

    &:global(.active) {
      font-weight: bold;
    }
  }

  th {
    background-color: #ddd;
  }

  tr:nth-child(even) {
    td {
      background-color: #f1f1f1;
    }
  }

  tr:hover {
    td {
      background-color: #f9f9f9;
    }
  }
}
